* {
    font-family: Cambria, Georgia, Times, serif;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

h3 {
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gamesDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-entry {
    padding: 10px;
    margin: 5px 0;
    border: #333 dotted 2px;
    width: 100%;

}

input#importSource {
    width: 500px;
    margin: 10px 0;
    justify-self: center;
}

a {
    color: darkblue
}

.removeButton {
    border-radius: 50%;
    background-color: lightcoral;
    font-weight: bold;
}
.removeButton:hover {
    background-color: red;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: bold;
    cursor:pointer;
}

#addGame {
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
}

#addGame:hover {
    background-color: rgb(3, 226, 33);
    color: white;
    cursor: pointer;
    outline: 1px solid black;
}

input.ratingSlider {
    border-radius: 5px;
    height: 15px;
    outline: 1px solid black;
    appearance: none;
}

button.playCountIncrement {
    padding: 0px 6px;
    border-radius: 50%;
    font-size: large;
}

.sort-options {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 20px 0;
}