* {
    font-family: Cambria, Georgia, Times, serif;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

h3 {
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gamesDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-entry {
    padding: 10px;
    margin: 5px 0;
    border: #333 dotted 2px;
    width: 100%;

}

input#importSource {
    width: 500px;
    margin: 10px 0;
    justify-self: center;
}

a {
    color: darkblue
}